.menu {
    
    width: 100%;
    line-height: 64px; 
    position: fixed;
    background: rgba(255, 255, 255, 0.7);
}

  
.m-left {
    float: left;
    font-weight: 700;
    height: 64px;
    font-size: 20px;
    font-family: 'Cormorant Upright', serif; 
    font-weight: 700;
    
    
}

.m-right {
    float: right;
    font-weight: 600;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
    
     
}

.logo {
    margin: 0;padding: 0;
    color: black;
    font-family: 'Cormorant Upright', serif; 
    font-size: 40px;   
    
}


.m-link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    padding: 0;
    margin: 10 10px;
    transition: all 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
  
}

.m-link:hover {
   padding-bottom: 3px;
   border-color: black;
   text-decoration: none;
   color: black;
  
}

.m-link i {
  font-size: 1.7em;
  margin-right: 3px;
}
